{% extends 'base_public.html' %}

{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
  <main class="user-home">
    <div class="user-header">
      <h2>Latest Articles</h2>
    </div>
  
    <div class="user-grid">
      <!--Article Cards -->
      <div class="article-card">
        <div class="image-placeholder"></div>
        <div class="article-info">
          <span class="category-universitynews">UNIVERSITY NEWS</span>
          <h3 class="title">Lorem Ipsum Dolor Sit Amet</h3>
          <p class="author">BY AUTHOR NAME</p>
        </div>
      </div>

        <div class="article-card">
          <div class="image-placeholder"></div>
          <div class="article-info">
            <span class="category-universitynews">UNIVERSITY NEWS</span>
            <h3 class="title">Lorem Ipsum Dolor Sit Amet</h3>
            <p class="author">BY AUTHOR NAME</p>
          </div>
        </div>

      <div class="article-card">
        <div class="image-placeholder"></div>
        <div class="article-info">
          <span class="category-universitynews">UNIVERSITY NEWS</span>
          <h3 class="title">Lorem Ipsum Dolor Sit Amet</h3>
          <p class="author">BY AUTHOR NAME</p>
        </div>
      </div>
  
      <div class="article-card">
        <div class="image-placeholder"></div>
        <div class="article-info">
          <span class="category-universitynews">UNIVERSITY NEWS</span>
          <h3 class="title">Student Festivities and Activities</h3>
          <p class="author">BY JANE DOE</p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}